body{
  font-family: 'Vidaloka', serif;
  text-align: center;
  margin: 0px;
}
a{
  color: #ca393c;
  text-decoration: none;
}
header{
  height: 80px;
  background: #1f3444;
  text-align: left;
  margin-bottom: 80px;
  border-bottom:10px solid #7c8286;
}

header .logo-img{
  width: 75PX;
  margin-top: 30px;
}
header .text{
  display: inline-block;
  vertical-align: top;
  padding: 45px 5px;
  font-size: 32PX;
  color: #FFF;
  text-shadow: 5px 2px 7px #1f3444;
}
footer{ 
  position: relative;
  bottom: 0px;
  margin-top: 30px;
  padding-top: 10px;
  height: 90px;
  width: 100%;
  background: #1f3444;
}

footer .info{
  text-align: right;
  font-size: 12px;
  font-family: 'Trebuchet MS';
  font-weight: normal;
  color: white;
}
footer .logo-fabico{
  float: right;
  padding: 0px 10px;
}

hr{
  border: 1px solid #1f3444;
}

section{
  display: table;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
}
section article{
  display: table-cell; 
  vertical-align: middle;
}
.section-title.invert{
  color: white;
}
.separator{
  border: 1px solid white;
}

.container-custom{
  width: 90%;
  margin: auto;
}
/*=== Home ===*/
#home{
  min-height: 100vh;
  margin-bottom: -90px;
  background-image: url('img/bg.jpg');
}
#trans-1{
  display: block;
  width: 100%;
  height: 90px;
  background: transparent;
  fill: #fff;
}
.title{
  width: 80%;
  margin: auto;
  text-align: left;
}
.title p{
  margin-left: -35px;
  font-size: 115px;
  line-height: 80px;
  color: #FFF;
}
.title .subtitle{  
  color: white;
  text-align: right;
  margin-top: 12px;
  font-size: 20px;
}
/*=== Timeline ===*/
#timeline{
  background: #fff;
  min-height: 100vh;
}
#trans-2{
  display: block;
  width: 100%;
  height: 90px;
  background: transparent;
  fill: #fff;
}
/*=== Design ===*/
#design{
  margin: -90px  auto;
  min-height: 100vh;
  background-image: url('img/design.jpg');
}
#trans-3{
  display: block;
  width: 100%;
  height: 90px;
  background: transparent;
  fill: #131313;
}
/*=== Casos ===*/
#cases{
  min-height: 100vh;
  background-color: #131313;
}

/*=== Futuro ===*/
#future{
  min-height: 100vh;
  background-color: #fff;
}

/*=== Fim ===*/
#trans-4{
  display: block;
  width: 100%;
  height: 90px;
  background: transparent;
  fill: #fff;
}
#end{
  margin-top: -90px;
  min-height: 100vh;
  background-image: url('img/bg.jpg');
  background-position: bottom;
}

/*==== Jogo da Memória ====*/
body.overlay .overlay{
  background-color: rgba(218, 206, 206, 0.83);
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
}
.overlay{transition: .5s all ease-in;}

.reset-button{
  width: 745px;
  margin: 15px auto 60px auto;
  text-align: left;
  font-size: 18px;
  color: #182a38;
}
.reset-button a{
  vertical-align: middle;
  text-decoration: none;
  color: #3a6e45;
  font-size: 15px;
}
.reset-icon{
  vertical-align: middle;
  width: 17px;
  height: 17px;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('img/restart.png')
}

#tutorial-memorygame{
  margin:auto;
  width:745px;
}
.text-style1{
  font-size: 15px;
  color:#fff;
  font-weight:normal;
  margin:0;
  line-height:24pt;
}

@media (min-height: 900px){
  footer{
    position: fixed;
  }
}


@media (max-width: 768px){
  footer{
    position: fixed;
  }
}